<div>
<%= flash[:notice] %>
</div>

 <!--<table>-->
 <!--   <thead>-->
 <!--       <tr>-->
 <!--           <th><strong>Title:</strong></th>-->
 <!--           <td><%#= @book.title %></td>-->
 <!--       </tr>-->
    
 <!--       <tr>-->
 <!--           <th><strong>Body:</strong></th>-->
 <!--           <td><%#= @book.body %></td>-->
 <!--       </tr>-->
 <!--  </thead>-->
 
 <p>
     <strong>Title:</strong>
     <%= @book.title %>
 </p>
   
 <p>
     <strong>Body:</strong>
     <%= @book.body %>
 </p>
   
   
  
<table>
   <tbody>
        <tr>
           <td><%= link_to 'Edit', edit_book_path(@book.id) %></td>
           <td>|</td>
           <td><%= link_to 'Back', books_path %></td>
          
        </tr>
   </tbody>
</table>

